<div class="flex justify-center mt-4">
  <%= image_tag 'bandmemo.png', width: '400', height: '100' %>
</div>

<div class="flex text-center justify-center mt-4">
  「Aメロってどんなイメージで演奏することになったっけ、、？」<br>
  バンド練習で決まった決定事項、確実にメモして共有できていますか？<br>
  忙しいけど、バンドで最高のパフォーマンスをしたい。<br>
  そんな皆さんのための、メモアプリです<br>
</div>

<% if logged_in? %> 
  <div class="flex justify-center mt-4">
    <%= link_to  voices_path do %>
      <div class="mr-4"><button class="btn btn-accent">①音声文字起こしで仮メモ作成</button></div>
    <% end %>
    <%= link_to  new_summary_path do %>
      <div class="mr-4"><button class="btn btn-secondary">②メモを要約・保存</button></div>
    <% end %>
    <%= link_to summaries_path do %>
      <div class="mr-4"><button class="btn btn-outline btn-secondary">③練習メモ一覧を見る</button></div>
    <% end %>
  </div>
<% end %>
