<h1>コンテンツ一覧</h1>

<%= link_to '新しいコンテンツ', new_content_path %>

<ul>
  <% @contents.each do |content| %>
    <li>
      <strong>オリジナル:</strong> <%= content.original %><br>
      <strong>要約:</strong> <%= content.summary %>
    </li>
  <% end %>
</ul>
