<h1>新しいコンテンツ</h1>

<%= form_with model: @content, local: true do |form| %>
  <div class="field">
    <%= form.label :original %>
    <%= form.text_area :original, rows: 10 %>
  </div>

  <div class="actions">
    <%= form.submit '投稿' %>
  </div>
<% end %>
