<div class='ms-auto'>
  <% if current_user.likes.where(group: @group, summary: summary).exists? %>
    <%= render 'unlike', { group: @group, summary: summary } %>
  <% else %>
    <%= render 'like', { group: @group, summary: summary } %>
  <% end %>
</div>