<h2>今日の練習内容メモ</h2>
<br>
<p><%= @summary.content %></p>
<br>
<h2>メモの要約</h2>
<br>
<ul>
  <% @summary.summary.split(" ").each do |line| %>
    <li>・<%= line %></li>
  <% end %>
</ul>
<br>
<%= link_to '一覧に戻る', summaries_path %>
