<div class="text-center text-xl font-bold mt-10">メモ原文</div>
<br>
<p><%= @summary.content %></p>
<br>
<div class="flex justify-center mt-4">
  <%= link_to  summaries_path do %>
    <button class="btn btn-secondary">一覧に戻る</button>
  <% end %>
</div>
