<div class="w-full flex justify-center my-3" id="comment-form">
  <div class="w-5/6 max-w-md">
    <%= form_with model: comment, url: group_summary_comments_path(group, summary) do |f| %>
      <%= f.label :content, "コメント"%>
      <%= f.text_area :content, class: "rounded-lg p-4 w-full", row: "4", placeholder: "コメントを入力してください" %>
      <div class="flex justify-center my-4">
          <%= f.submit "コメントを投稿", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
