<div class='ms-auto'>
  <% if current_user.likes.where(summary: summary).exists? %>
    <%= render 'unlike', { summary: summary } %>
  <% else %>
    <%= render 'like', { summary: summary } %>
  <% end %>
</div>