<div class="navbar bg-base-300">
  <div class="flex-1">
    <%= link_to root_path do %>
      <div class="btn btn-ghost text-xl">
        bandmemo
      </div>
    <% end %>
  </div>
  <div class="flex-1">
    <ul class="menu menu-horizontal px-1">
      <li><%= link_to 'ログイン', login_path %></li>
    </ul>
  </div>
</div>