<footer class="footer footer-center p-4 bg-base-300 text-base-content">
  <aside>
    <div class="flex justify-between gap-4 items-center mt-2">
      <p>© 2024 - bandmemo</p>
      <p><%= link_to "プライバシーポリシー", "#" %><p>
      <p><%= link_to "利用規約", "#" %><p>
      <p><%= link_to "お問い合わせ", "#" %><p>
    </div>
  </aside>
</footer>