<footer class="footer footer-center p-4 bg-base-300 text-base-content">
  <aside>
    <div class="flex justify-between gap-4 items-center mt-2">
      <p>© 2024 - bandmemo</p>
      <p><%= link_to "プライバシーポリシー", static_pages_policy_path %><p>
      <p><%= link_to "利用規約", static_pages_service_path %><p>
      <p><%= link_to "お問い合わせ", "https://forms.gle/A3Tfg8vVVczQkiLi6", target: :_blank %><p>
    </div>
  </aside>
</footer>