<div class="navbar bg-base-300">
  <div class="flex-1">
    <%= link_to root_path do %>
      <div class="btn btn-ghost text-xl">
        bandmemo
      </div>
    <% end %>
  </div>
  <div class="flex-1">
    <a href="https://twitter.com/intent/tweet?text=【bandmemo】%0abandmemoで、バンド練を振り返ろう。%0a%23bandmemo_kame %23バトラン%0a%0a&url=https://bandmemo-app.onrender.com" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <ul class="menu menu-horizontal px-1">
      <li><%= link_to '練習メモ一覧', summaries_path %></li>
      <li><%= link_to 'ログアウト', logout_path, data: { turbo_method: :delete } %></li>
      <li>
        <details>
          <summary>
            メニュー
          </summary>
          <ul class="p-2 bg-base-100 rounded-t-none">
            <li><a><%= link_to 'スタジオ登録', spots_path %></a></li>
            <li><a>Link 2</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>