<div class='font-bold'>1. 立ち位置</div>
・下手からシンセ、ベース、ドラム、ボーカル、ギター<br>

<div class='font-bold'>2. 機材</div>
・ドラム:2タム、マイク<br>
・ギター:マイク、アンプはマーシャル<br>
・アコギ: アンプはJC(ワイヤレスピックアップを持参)<br>

<div class='font-bold'>3. 照明</div>
・曲①:照明青系。4カウント後に明転。<br>
・曲②:照明ピンクと赤と黄色。サビは照明激し目<br>
・曲③:照明白系。イントロ前暗転スモーク、イントロシンセピンスポ。ギターソロ後ボーカルピンスポ。ラスサビで明転<br>
・曲④: 照明カラフル。イントロ始まってから徐々に明るく。サビで激し目<br>
・全曲ギターソロでピンスポ<br>

<div class='font-bold'>4.確認事項</div>
・マイクスタンド、会場にストレートタイプがあるか確認<br>