<div class='font-bold'>1. 練習の挨拶</div>
・先日の初めてのバンド練習、お疲れ様でした。<br>
<div class='font-bold'>2. キーとテンポ</div>
・キーは原曲のGメジャー。<br>
・テンポはBPM 160で原曲と同じ速さ。<br>
<div class='font-bold'>3. イントロ</div>
・キーボードがリード、ドラムは軽くフィルイン。<br>
・ギターはイントロでクリーンな音色を使用。<br>
<div class='font-bold'>4. サビ前のブレイク</div>
・サビ前に一拍のブレイクを全員で入れる。<br>
・リードギターがフィルを入れるので、タイミングを合わせる。<br>
<div class='font-bold'>5. アウトロ</div>
・アウトロは原曲のフェードアウトではなく、しっかりとエンディングを決める。<br>
・エンディングのパターンは次回の練習で決定。<br>
<div class='font-bold'>6. 注意点</div>
・ボーカルはメロディラインをキープし、特にサビで声が埋もれないように注意。<br>
<div class='font-bold'>7. 次回の練習</div>
・次回の練習ではこれらのポイントを踏まえて細かい部分を詰める。<br>